In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('customer.db')

# conn = sqlite3.connect(':memory:') '''This will create database in memory'''

In [4]:
#A cursor is tells database to do what you wanted to do.

c = conn.cursor()

"""Create a table"""

c.execute("""
    CREATE TABLE customers1 (
    first_name text,
    last_name text,
    email text
)""")
# commit our command

#conn.commit()


# close our connection

#conn.close()

In [5]:
#insert data to table

c.execute("""INSERT INTO customers1 VALUES ('Sundar', 'Pandey', 'sun@pandey.com') """)

#conn.commit()

#conn.close()

In [6]:
# many custormers

many_customers = [('wes', 'Brown', 'wes@brown.com'),
                ('Steph', 'Kuewa', 'Steph@brown.com'),
                ('Dan', 'pas', 'dan@pas.com'),
                ]

In [7]:
c.executemany("""INSERT INTO customers1 VALUES (?,?,?)""", many_customers)

In [8]:
c.execute("SELECT * FROM customers1")

In [9]:
#c.fetchone()
#c.fethchmany(2)
items = c.fetchall()

In [10]:
for item in items:
    print(item[0] + ' ' + item[1])

Sundar Pandey
wes Brown
Steph Kuewa
Dan pas

In [11]:
# primary key ID

c.execute('SELECT rowid, * FROM customers1')

In [12]:
items = c.fetchall()

In [13]:
for item in items:
    print(item)

(1, 'Sundar', 'Pandey', 'sun@pandey.com')
(2, 'wes', 'Brown', 'wes@brown.com')
(3, 'Steph', 'Kuewa', 'Steph@brown.com')
(4, 'Dan', 'pas', 'dan@pas.com')

In [14]:
# where clause

c.execute("""SELECT * FROM customers1 WHERE last_name = "Pandey" """)

In [15]:
items = c.fetchall()
for item in items:
    print(item)

('Sundar', 'Pandey', 'sun@pandey.com')

In [16]:
# update Records
c.execute("""update customers1 set first_name = 'Kam' 
            where rowid = 24 """)

In [17]:
c.execute("""select * from customers1 where rowid = 24""")

In [18]:
c.fetchall()

[]

In [19]:
# Delet Record

c.execute("""Delete from customers1 where rowid > 10 """)

c.execute("""select * from customers1""")

c.fetchall()

[('Sundar', 'Pandey', 'sun@pandey.com'),
 ('wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kuewa', 'Steph@brown.com'),
 ('Dan', 'pas', 'dan@pas.com')]

In [20]:
# order by

c.execute("""select rowid, * from customers1 order by last_name""")

c.fetchall()

[(2, 'wes', 'Brown', 'wes@brown.com'),
 (3, 'Steph', 'Kuewa', 'Steph@brown.com'),
 (1, 'Sundar', 'Pandey', 'sun@pandey.com'),
 (4, 'Dan', 'pas', 'dan@pas.com')]

In [21]:
c.execute("""select rowid, * from customers1 order by rowid Desc""")

c.fetchall()

[(4, 'Dan', 'pas', 'dan@pas.com'),
 (3, 'Steph', 'Kuewa', 'Steph@brown.com'),
 (2, 'wes', 'Brown', 'wes@brown.com'),
 (1, 'Sundar', 'Pandey', 'sun@pandey.com')]

In [22]:
# and / or

c.execute("""select rowid, * from customers1 where last_name like 'Br%' and rowid = 3 """)

c.fetchall()

[]

In [23]:
# limit

c.execute("""select rowid, * from customers1 order by rowid Desc limit 2""")

c.fetchall()

[(4, 'Dan', 'pas', 'dan@pas.com'), (3, 'Steph', 'Kuewa', 'Steph@brown.com')]

In [24]:
# drop table

c.execute("""Drop table customers1""")

In [25]:
c.execute("""select * from customers1""")

OperationalError: no such table: customers1